.venv/
.git/
.github/

__pychache__.py

/account/
/circuits/
/core/
/dcim/
/extras/
/ipam/
/media/
/netbox/
/project-static/
/reports/
/templates/
/tenancy/
/translations/
/users/
/utilities/
/virtualization/
/vpn/
/wireless/

device_class

/generate_secret_key.py
/manage.py
/scripts/__init__.py

test_*.*
dev_*.*